html { 
    font-family: century-gothic, sans-serif;
    font-style: normal;
    background-color: #284B63;
  }

body {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

#root {
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
}

.container {
    max-width: 121.25rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0 2rem;
    position: relative;
}

.imageWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    max-width: 80rem;
    padding: 5rem 3.75rem 1.5rem 3.75rem;
}

.headerLink {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    transition: color 0.5s ease;
  }

  .headerLink:hover {
    color: #880c09;
  }
  

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.125rem;
}

.tagline {
    display: flex;
    align-items: center;
    font-size: 4rem;
    color: #d9d9d9;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #d9d9d9;
    align-items: center;
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.textWrapper {
    font-size: 1.5rem;
    max-width: 80rem;
    text-align: center;
    color: #d9d9d9;
    line-height: 2;
    width: 100%;
    align-items: center;
}

.alternatingTextWrapper {
    display: flex;
    flex-direction: row;
    max-width: 80rem;
    width: 100%;
    margin: 0.625rem 0;
}

.alternatingTextWrapper2 {
    display: flex;
    flex-direction: row;
    max-width: 80rem;
    margin: 3.125rem 0;
}

.textWrapperHalf {
    font-size: 1.5rem;
    width: 100%;
    max-width: 40rem;
    color: #d9d9d9;
    align-content: center;
    line-height: 2.4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageWrapperHalf {
    width: 40rem;
    display: flex;
    align-items: center;
}

.textStack {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
    max-width: 40rem;
    color: #d9d9d9;
    align-content: center;
    line-height: 2.2;
    text-align: center;
    justify-content: space-evenly;
}

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

.imageStack {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.right {
    justify-content: right;
}

.left {
    justify-content: left;
}

.stackedImage {
    margin: 1.25rem 0;
}

.alignRight {
    align-self:flex-end;
}

.textWrapperHalf2 {
    font-size: 1.5rem;
    max-width: 40rem;
    width: 100%;
    color: #d9d9d9;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    text-align: left;
    line-height: 2;
}



.fullscreenTextWrapper {
    font-size: 1.5rem;
    max-width: 80rem;
    color: #d9d9d9;
    text-align: center;
    line-height: 2;
}

.fullscreenTextWrapperSection {
    font-size: 1.5rem;
    max-width: 80rem;
    color: #d9d9d9;
    line-height: 2;
    text-align: left;
    width: 100%;
}

.ribbon {
    background-color: #d9d9d9;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    max-width: 80rem;
    padding: 2rem;
    opacity: 0.9;
    color: #353535;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.7;
    border: 0.3125rem solid #880c09;
    width: 83.125rem;
}

.quoteRibbon {
    background-color: #d9d9d9;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    width: 60%;
    max-width: 60%;
    padding: 3.125rem 3.125rem 1.25rem;
    color: #353535;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.7;
    border: 0.625rem solid #257b82;
}

.subsectionRibbon {
    background-color: #d9d9d9;
    font-weight: 600;
    text-align: center;
    max-width: 85%;
    padding: 1.875rem;
    opacity: 0.9;
    color: #353535;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    line-height: 1.7;
    border: 0.3125rem solid #880c09;
    width: 85%;
    align-self: flex-start;
}

.homeRibbon {
    background-color: #d9d9d9;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    max-width: 80rem;
    padding: 3.125rem;
    opacity: 0.9;
    color: #353535;
    margin-top: 7.5rem;
    margin-bottom: 4.375rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    line-height: 1.7;
    border: 0.3125rem solid #880c09;
}

.video {
    background-color: gray;
    width: 100%;
    height:56.25rem;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.title {
    font-size: 5rem;
    font-weight: 600;
    color: #880c09;
}

.subsectionTitle {
    font-size: 3.75rem;
    font-weight: 600;
    color: #880c09;
    width: fit-content;
    padding-left: 1.25rem;
}

.subtitle {
    font-size: 3.75rem;
    font-weight: 600;
    color: #880c09;
}

.roeSubtitle {
    font-size: 2.5rem;
    font-weight: 600;
    color: #d9d9d9;
    margin-top: 3.125rem;
    text-align: left;
}

.subtitleHeading {
    font-size: 2.5rem;
    font-weight: 600;
}

.textBlock {
    font-size: 1.875rem;
    text-align: center;
    width: 50rem;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
    max-width: 80rem;
    color: #d9d9d9;
    input {
        margin: 2.5rem;
    }
}

span {
    /* color:#880c09; */
}

img {
    /* margin: 0.625rem; */
}

.border img {
    border: 0.1875rem solid #257b82;
}

.inlineLink {
    color: #257b82;
    text-decoration: none;;
}

.center {
    text-align: center;
}

.spaced {
    margin: 3.125rem 0;
}

.medium {
    font-size: 1.5rem;
}

.smSpaced {
    margin: 1.5rem 0;
}

.lineHeight {
    line-height: 1.2;
}

.greenSpan {
    color: #257b82;
}

.demo {
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 32.8125rem;
}

.demoInput {
    width: 28.125rem;
    max-width: 23.75rem;
    background-color: #d9d9d9;
    height: 32.8125rem;
    padding: 0.5rem 1.5rem;
    border: 0.125rem solid #880c09;
}

.demoParameters {
    width: 17.75rem;
    background-color: #d9d9d9;
    height: 32.8125rem;
    padding: 0.5rem;
    border: 0.125rem solid #880c09;
}

.demoOutput {
    width: 28.125rem;
    background-color: #d9d9d9;
    height: 32.8125rem;
    padding: 0.5rem 1.5rem;
    border: 0.125rem solid #880c09;
}

.demoHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea {
    width: 22.5rem;
    height: 26.25rem;
}

.spacer {
    height: 12.5rem;
}

.spacer2 {
    height:7.5rem;
}

.marginRight {
    margin-right: 5rem;
}

.headerWrapper {
    position: fixed;
    height: 7.875rem;
    background-color: #284B63;
    top: 0%;
    z-index: 1;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.bioRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1.25rem 0;
}

.pdf {
    width: 62.5rem;
    height: 62.5rem;
}

.pdfRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3.125rem 0;
}

.largeText {
    font-size: 1.75rem;
}

.silver {
    color: #d9d9d9;
}

.wrapperWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

video {
    border: 0.1875rem solid #d9d9d9;
    margin: 1.875rem 0;
    width: 75%;
}

.footer {
    position:absolute;
    bottom:0;
    color: #d9d9d9;
    width: 80rem;
    text-align: center;
    padding-bottom: 1rem;
}

.imgLogo {
    width: 5rem;
    padding: 0 0.5rem;
}

.imgMedium {
    width: 37rem;
}

.imgSmall {
    width: 34.375rem;
}

.imgLarge {
    width: 56.25rem;
}

.homeLogo {
    width: 18.75rem;
}

.fullScreen {
    width: 100%;
}

.imgDocument {
    width: 56.25rem;
}

.imgDocumentLarge {
    width: 75rem;
}
